.carousel__container {
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0 auto;
}

.carousel-content__container {
  white-space: nowrap;
  overflow-x: visible;
  transform: translate3d(0px, 0px, 0px);
  transition: all 500ms ease-in-out;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.carousel-item__container {
  display: inline-block;
  height: inherit;
}

.carousel-item__container img {
  width: 100%;
  height: inherit;
  object-fit: fill;
  -webkit-user-drag: none;
}
